@font-face {
    font-family: "montserrat-regular";
    src: url("../assets/webfonts/Montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../assets/webfonts/Montserrat/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../assets/webfonts/Montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("../assets/webfonts/Montserrat/montserrat-bold-webfont.woff2") format("woff");
    font-style: normal;
    font-weight: normal;
}