header {
    position: fixed;
    z-index: 5;
    width: 100vw;
    top: 0;
    .header {
        color: $main-font-color;
        font-size: 20px;
        background-color: rgba(211, 211, 211, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;
        padding: 0 20px;
    }
}

.portfolio {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/icons/loading-icon.gif');
    background-position: center;
    background-repeat: no-repeat;
}