@import 'variables';
@import 'placeholders';
@import 'mixin';
@import 'font-awesome';
@import 'animations';
@import 'fonts';

@import 'layout';
@import 'header/nav-bar';
@import 'header/logo';
@import 'portfolio/portfolio';

body {
    font-family: 'montserrat-regular', sans-serif;
    direction: $direction;
    text-align: $start-direction;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
}