.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background: #fff url("https://s-media-cache-ak0.pinimg.com/originals/a4/f2/cb/a4f2cb80ff2ae2772e80bf30e9d78d4c.gif") no-repeat center;
    background-size: 200px 200px;
    position: relative;
    overflow: hidden;
}

.slides {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#slide1{
    background: transparent url("https://www.planwallpaper.com/static/images/hd-wallpaper-1080p-widescreen-1080p-backgrounds.jpg") no-repeat center;
    background-size: cover;
    //animation: left1 15s infinite;
}

#slide2 {
    background: transparent url("https://www.planwallpaper.com/static/images/hd-beach-wallpapers-1080p.jpg") no-repeat center;
    background-size: cover;
    //animation: left2 15s infinite;
    //left: 100%;

}
#slide3 {
    background: transparent url("https://www.planwallpaper.com/static/images/01819_birdonabranch_1920x1080.jpg") no-repeat center;
    background-size: cover;
    //animation: left3 15s infinite;
    //left: 200%;
}

#slide4 {
    background-color: red;
    background-size: cover;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        left: 300vw;
    }

    60% {
        opacity: 1;
        left: -25vw;
    }

    75% {
        left: 10vw;
    }

    90% {
        left: -5vw;
    }

    to {
        left: 0;
    }
}

.right {
    animation: bounceInRight 1s forwards;
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        left: -300vw;
    }

    60% {
        opacity: 1;
        left: 25vw;
    }

    75% {
        left: -10vw;
    }

    90% {
        left: 5vw;
    }

    to {
        left: 0;
    }
}

.left {
    animation: bounceInLeft 1s forwards;
}

@keyframes left1 {
    0% {left: 0%; right:0%;}
    26.8% {left: 0%; right:0%;}
    33.5% {left: -100%; right: 100%;}
    93.8% {left: -200%; right: 200%;}
    100% {left: 0%; right: 0%;}
}

@keyframes left2 {
    0% {left: 100%; right:-100%;}
    26.8% {left: 100%; right:-100%;}
    33.5% {left: 0%; right: 0%;}
    60.3% {left: 0%; right: 0%;}
    67% {left: -100%; right: 100%;}
    93.8% {left: -100%; right: 100%;}
    100% {left: 100%; right: -100%;}
}

@keyframes left3 {
    0% {left: 200%; right:-200%;}
    26.8% {left: 200%; right:-200%;}
    33.5% {left: 100%; right: -100%;}
    60.3% {left: 100%; right: -100%;}
    67% {left: 0%; right: 0%;}
    93.8% {left: 0%; right: 0%;}
    100% {left: 200%; right: -200%;}
}