header h1 {
    font-size: inherit;
    //display: flex;
    //align-items: center;
    //padding-#{$start-direction}: 10px;
    //padding-#{$end-direction}: 10px;
    //background-color: $main-bg-color;
    //padding-bottom: 5px;
    //border-#{$end-direction}: 2px solid $main-font-color;
    //border-bottom: 2px solid $main-font-color;
    //border-bottom-#{$end-direction}-radius: 33%;
}