header .nav-bar {
    color: $main-font-color;
    padding: 1.6rem 3rem;
    position: fixed;
    overflow: hidden;
    background-color: rgba(12, 12, 12, 0.9);
    border-#{$start-direction}: 2px solid $main-font-color;
    border-bottom: 2px solid $main-font-color;
    top: 0;
    #{$start-direction}: calc(100vw - #{$side-menu-width});
    height: 100vh;
    width: $side-menu-width;
    &.collapsed {
        #{$start-direction}: 100%;
    }
    .close-icon {
        cursor: pointer;
        font-size: 16px;
        transition: all 1s ease-in-out;
    }
    &-header {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &-toggle-icon {
        cursor: pointer;
        &.move {
            color: white;
            position: fixed;
            right: 46px;
            top: 26px;
            z-index: 800;
        }
    }
    &-list {
        ul {
            list-style: none;
            li {
                height: 40px;
                width: 100%;
                transition: color 0.2s ease-in;
                cursor: pointer;
                &:hover {
                    color: white;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
}